@import "tailwindcss";

@theme {
  --color-gray-100: oklch(0.97 0.015 240);
  --color-gray-900: oklch(0.30 0.015 240);
  --color-white: oklch(1 0 0);
}

html {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}

html.dark {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}